{% extends 'base.html' %}
{% block title %}index
{% endblock title %}
{%block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        i am a computer programmer .i am develope this website for the study purpose .
      </div>
    </div>
  </div>
  


  <section id="skills" class="smoke">
            <div class="container">
                
        <div id="builder-column-53e3ac77c9726" class="span12 col-md-12 column_first column_last">
            <div id="builder-module-53e3ad0d8c4e3" class="module module-heading"><div class="heading-red"><h2 class="title">TECHNICAL SKILLS</h2><p>I can say i’m quite good at</p></div></div><div id="builder-module-5b9f8643591d0" class="module module-skills"><div class="row"><div class="col-md-4 skillsArea column_first">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="80">
                    <span class="percent">80</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>PYTHON</h4>
                <p></p>
            </div>
        </div><div class="col-md-4 skillsArea">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="75">
                    <span class="percent">75</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>DJANGO</h4>
                <p></p>
            </div>
        </div><div class="col-md-4 skillsArea column_last">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="75">
                    <span class="percent">75</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>FLASK</h4>
                <p></p>
            </div>
        </div></div><div class="row"><div class="col-md-4 skillsArea column_first">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="70">
                    <span class="percent">70</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>NODEJS / MONGODB</h4>
                <p></p>
            </div>
        </div><div class="col-md-4 skillsArea">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="75">
                    <span class="percent">75</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>ELECTRONJS</h4>
                <p></p>
            </div>
        </div><div class="col-md-4 skillsArea column_last">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="75">
                    <span class="percent">75</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>ANGULAR</h4>
                <p></p>
            </div>
        </div></div><div class="row"><div class="col-md-4 skillsArea column_first">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="85">
                    <span class="percent">85</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>PHP / MYSQL</h4>
                <p></p>
            </div>
        </div><div class="col-md-4 skillsArea">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="75">
                    <span class="percent">75</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>MAGENTO 1 / 2</h4>
                <p></p>
            </div>
        </div><div class="col-md-4 skillsArea column_last">
        	<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
            	
                <span class="chart skilBg" data-percent="75">
                    <span class="percent">75</span>
                <canvas height="190" width="190" style="height: 152px; width: 152px;"></canvas></span>
                
            	<h4>LARAVEL</h4>
                <p></p>
            </div>
        </div></div></div>
        </div>
            </div>
        </section>
  <hr>
{%endblock body%}