{% extends 'base.html' %}
{% block title %}index
{% endblock title %}
{%block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/bgpst.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Man must explore, and this is exploration at its greatest</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">code-blog</a>
              on 1 jan 2021</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
 <div class="row">
<div class="col-md-1"></div>
   <div class="col-md-3" >
     
     <h3 style="background-color: rgb(222, 227, 230);">
     index
    </h3>
   
    <ol>
      {% for tutorial in sidebar %}
      
      <li><a href="/{{tutorial.tutorial_slug}}">{{tutorial.tutorial_title}}</a></li>
      {% endfor %}
      
    </ol>
   </div>

     <div class="col-md-8"  >
      <h3 style="background-color: rgb(240, 237, 235);">
       {{tutorial.tutorial_title}}
      </h3>
      {{tutorial.tutorial_published}}
    </br>
     {{tutorial.tutorial_content}}
      
    </div>
 </div>

  <hr>

{%endblock body%}